<div class="card dashboard-card">
  <div class="card-body">
    <h5 class="card-title">System</h5>
    <div class="text-truncate mb-2">
      <small class="text-muted">Model:</small><br/>
      <strong>{{@device.ModelName}}</strong>
    </div>
    <div>
      <small class="text-muted">Serial Number:</small><br/>
      <strong>{{@device.SerialNumber}}</strong>
    </div>
  </div>
</div>
